* { margin:0;padding:0 }
html,body{ height:100%; width: 100%; margin: 0; padding: 0; font-size: 15px; }

/* new clearfix */
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 2em;
}
h2 a {
	color: #FFFFFF;
	background-color: #FABE49;
}
.container {
	margin: 0;
	height: 100%;
	background: url(../images/coming-soon.jpg) no-repeat center center;
	background-size: cover;
}
.container .logo {
	width: 25%;
	position: absolute;
	top: 10%;
	left: 4%;
}

.container .contact {
	width: 400px;
	position: absolute;
	right: 4%;
	top: 16%;
	border: 12px solid #FABE49;
	padding: 15px;
}
.container .contact form{
	width: 100%;
}
.container .contact .subscribeText {
	margin-top: 7%;;
}
.container .contact form {
	margin-top: 5px;
}
.container .contact form input {
	width: 70%;
	height: 25px;
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
	font-weight: normal;
	outline: 0;
	background-color: #78A8D9;
	border: 0;
	color: #FFFFFF;
	padding: 5px;
}
.container .contact form input.error {
	border: 1px solid #cd2027;
}
.container footer {
	position: fixed;
	bottom:0;
	width: 100%;
	background: #83361B;
	height: 50px;;
}
.container footer h2 {
	color: #FFFFFF;
	font-weight: 300;
}
.container footer .brandsUrl {
	float: left;
	line-height: 50px;
	margin-left: 30px;
}
.container footer .siguenos {
	float: right;
	margin-right: 30px;
}

.container footer .siguenos h2 {
	float: left;
	line-height: 50px;
	margin-right: 10px;
}

.container footer ul.social {
	float: left;
	list-style: none;
}
.container footer ul.social li {
	float: left;
	margin-right: 12px;
	padding: 5px;
}
.container footer ul.social li:last-child {
	margin-right: 0;
}
.container .contact .transbox {
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

.container .contact .transbox h2 {
	font-size: 2em;
}

.container .contact .transbox h2 a {
	font-size: 0.8em;
	padding: 2px;
	text-decoration: none;
}


/* INPUT PLACEHOLDER */

.container .contact input::-webkit-input-placeholder {
   color: #ffffff;
}

.container .contact input::-moz-placeholder {  /* Firefox 19+ */
   color: #ffffff;  
}

.container .contact input:-ms-input-placeholder {  
   color: #ffffff;  
}

/* media querys */

@media screen and (max-width: 971px) 
{
	html,body {
		font-size: 10px;
	}
	
	.container .contact {
		width: 290px;
	}
}

@media screen and (max-width: 730px) 
{	
	.container {
		background-position-x: 62%;
	}
	
	.container .logo {
		width: 40%;
		margin-left: -20%;
		left: 50%;
		top: 10px;
	}
	
	.container .contact {
		width: 70%;
		margin-left: -42%;
		left: 50%;
		bottom: 13%;
		top: auto;
		right: auto;
	}
	
	.container footer .brandsUrl {
		display: none;
	}
	
	.container footer .siguenos {
		float: none;
		margin: 0;
		width: 100%;
	}
	
	.container footer .siguenos h2 {
		display: none;
	}
	
	.container footer ul.social {
		text-align: center;
		float: none;
		width: 100%;
	}
	
	.container footer ul.social li {
		float: none;
		display: inline-block;
	}
}

@media screen and (max-height: 480px)  
{	

	html, body {
		font-size: 9px;
	}
	.container .contact .transbox h2 {
		font-size: 1.9em;
	}
}